
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header') %>
    <form action="">
        <label for="">id</label><br>
        <input type="text" name="uid" id=""><br>
        <label for="">password</label><br>
        <input type="text" name="upw" id="">
        <button>login</button>
    </form>
</body>
</html>