


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header') %>
    <form action="" id="signupform">
        <label for="">uname</label><br>
        <input type="text" name="uname" id=""><br>
        <label for="">id</label><br>
        <input type="text" name="id" id=""><br>
        <label for="">password</label><br>
        <input type="text" name="upw" id="">  <br>     
        <button>signup</button>
    </form>
    
</body>
</html>