

* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
   
}

#Title1 {
    width: 100%;
    min-width: 1100px;
    height: 80px;
    background-color: black;
    color: rgb(208, 212, 216);
    font-size: 24px;
    /* display: flex; 
    justify-content: center;
    align-items: center; */
}
#Titledetails {
    width: 100%;
    min-width: 1100px;
    height: 80px;
    background-color: black;
    color: rgb(208, 212, 216);
    font-size: 24px;
    /* display: flex; 
    justify-content: center;
    align-items: center; */
}

#Title {
    max-width: 100%;
    min-width: 1000px;
    height: 80px;
    background-color: black;
    color: rgb(208, 212, 216);
    font-size: 24px;
    /* display: flex; 
    justify-content: center;
    align-items: center; */
}
#Wrap {
    width: 100%;
    height: 100vh ;
    background-color: rgb(56, 7, 7);
}
.titleUl {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.EditUploadBtn {
    /* width: 200px; */
    display: flex;
    justify-content: space-around;
}
#Upload:hover, #Edit:hover {
    color: rgba(68, 144, 179, 0.877);
    font-weight: bold;
    user-select: none;
}
#Upload1 {
   width: 100%;
   background-color: rgb(56, 7, 7);
}

#UploadWrap, #UploadWrap1 {
    min-width: 1000px;
    max-width: 1400px;
    margin: 0 auto;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: rgb(70, 12, 12);
    
}
#UploadContent1 {
    width: 750px;
    height: 820px;
    border: 7px solid rgb(70, 8, 8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F8F2DE;
    border-radius: 20px;
    color: rgb(90, 9, 9);
}
#UploadContent {
    width: 750px;
    height: 850px;
    border: 7px solid rgb(70, 8, 8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ECDCBF;
    border-radius: 20px;
    color: rgb(105, 12, 12);
    
}
#uploadtitlE, #uploadtitlE1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}
#UploadDetails,#UploadDetails1 {
    display: flex;
    flex-direction: column;
}
#UploadUid1 {
  
    width: 500px;
    height: 30px;
    border-bottom: 1px solid;
}
#UploadUid {
    margin-top: 20px;
    width: 500px;
    height: 30px;
}
#userid {
    margin-left: 20px;
    outline: none;
    /* border-color: ; */
}

#UploadDate, #UploadDate1 {
    width: 500px;
    height: 30px;
    border-bottom: 1px solid;
 
}
#UploadSubject, #UploadSubject {
    width: 600px;
}
#Subject, #Subject1 {
    width: 500px;
    height: 25px;
    outline-style: none;
    padding: 3px;
    font-size: 16px;
    background-color: #fffdf8;
    border-radius: 8px;
    border: 2px solid  #745e35;
    
}
#Details1 {
    width: 650px;
    height: 420px;
    outline-style: none;
    padding: 10px;
    font-size: 16px;
    background-color: #fffdf8;
    border: 2px solid  #745e35;
    border-radius: 8px;
    resize: none;
}
#Details {
    width: 650px;
    height: 400px;
    outline-style: none;
    padding: 10px;
    font-size: 16px;
    background-color: #fffdf8;
    border: 2px solid  #745e35;
    border-radius: 8px;
}
#Btn button, #Btn1 button {
    width: 120px;
    height: 50px;
    margin: 0 50px;
    background-color: #695533;
    color: rgb(208, 220, 230);
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
}

#Btn button:hover, #Btn1 button:hover {
    background-color: #96825e;
}
#edittitlE {
    font-size: 24px;
    font-weight: 600;
}
#review {
    padding-top: 30px;
    width: 100%;
    height: 80px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(238, 222, 222);
   
}
#titleheader ul {
    width: 1000px;
    height: 50px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border: 1px solid;
    border-bottom: 0;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: rgb(241, 252, 252);
    border-radius: 8px 8px 0 0;
}
#titleheader li:nth-child(1) {
    width: 8%;
    box-sizing: border-box;
   
    
}
#titleheader li:nth-child(2) {
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid;
  
    box-sizing: border-box;
}
#titleheader li:nth-child(3) {
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid;

    box-sizing: border-box;
}
#titleheader li:nth-child(4) {
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid;
 
    box-sizing: border-box;
} 
#titleheader li:nth-child(5) {

    width: 15%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid;
    box-sizing: border-box;
    
    
}
#Maxcontent {
    width: 1000px;
    height: 525px;
    margin: 0px auto;
    /* position: relative; */
}

#contenT {
    /* position: absolute; */
    width: 1000px;
    height: max-content;
    margin: 0px auto;
    background-color: rgb(241, 252, 252);
    border: 1px solid;
    border-top: 0;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    /* border-radius: 0 0 8px 8px; */
    
   
    
}

.UContent {
    height: 50px;
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-top: 1px solid;
    box-sizing: border-box;
    padding: 0 20px;
}
.UContent:hover{
    height: 70px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #8d7a49;
    background-color: #e4e1d7a9;
    box-sizing: border-box;
}
.UContent:hover li {
    border-left: 0px !important;
}

.UContent li {
    user-select: none;
}
.UContent li:nth-child(1) {
    width: 8%;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.UContent li:nth-child(2) {
    width: 10%;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    border-left: 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
}
.UContent li:nth-child(3) {
    width: 15%;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    border-left: 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.UDetails {
    width: 25%;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    border-left: 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   
} 
.UContent li:nth-child(5) {

    width: 15%;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    border-left: 1px solid;
    
}


#pagination {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

#pagination span {
    width: 20px;
    height: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    user-select: none;
    color: aliceblue;
}

#pagination span:hover {
    background-color: rgb(116, 38, 38);
}

#Home {
    user-select: none;

}
#Home:hover {
    color: rgba(68, 144, 179, 0.877);
    font-weight: bolder;
}

#bodycontent {
    min-width: 1000px;
    max-width: 1400px;
    overflow: hidden;
    margin: 0 auto;
    height: calc(100vh - 80px);
    background-color: rgb(70, 12, 12);
}

#searchBar {
    width: 420px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

#searchBar input {
    width: 350px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 16px;
}
#searchBar span {
    user-select: none;
}

footer ul {
    width: 100%;
    height: 70px;
    padding-top:20px ;
    color: rgb(225, 234, 241);
    padding-left: 50px;

}

#uid {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    font-size: 20px;
}
#detailswrap {
    width: 100%;
    background-color: rgb(56, 7, 7);
 
}
#detailswrapinside {
    min-width: 1100px;
    max-width: 1400px;
    margin: 0 auto;
    height: calc(100vh - 80px);
    background-color: rgb(70, 12, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#detailswrapul {
    width: 1100px;
    /* min-width: 870px; */
    /* max-width: 1100px; */
    height: 800px;
    margin: 0px auto;
    padding: 30px;
    background-color: #e6e6d2;
    border: 1px solid;
    font-size: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

#detailswrapul li {
    margin: 10px;
    height: max-content;
}
#detailswrapul li:nth-child(2) {
    width: 250px;
    border-bottom: 1px solid #979735;
}
#detailswrapul li:nth-child(3) {
    width: 250px;
    border-bottom: 1px solid #979735;
}
#detailswrapul li:nth-child(4) {
    width: 250px;
    border-bottom: 1px solid #979735;
}
/* .UID {
    width: 200px;
    border-bottom: 1px solid;
} */
#detailS {
    width: 1000px;
    height: 500px;
    padding: 20px;
    padding-left: 60px !important;
    border: 1px solid #806e36e7;
    background-color: #e7e3d5e7;
    border-radius: 15px;
    box-sizing: border-box;
}

#ediTdeletEbtn button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    outline: none;
    border: 1px solid rgb(73, 136, 136);
    background-color:rgb(241, 252, 252);
}

#ediT:hover {
    background-color: rgb(46, 105, 105);
    color: aliceblue;
}
#deletE:hover {
    background-color: #9e2323;
    color: aliceblue;
}
#bacK:hover {
    background-color: #2a2979;
    color: aliceblue;
}

#edittitlE {
   display: flex;
   justify-content: space-between;
}

#editwrap {
    width: 100%;
    background-color: rgb(56, 7, 7);
}



#bodyeditwrap {
    min-width: 1000px;
    max-width: 1400px;
  
    margin: 0 auto;
    height: calc(100vh - 80px);
    background-color: rgb(70, 12, 12);
}

.fa {
    color: #000000;
}

#pagenum {
    font-size: 24px;
    font-weight: 600;
}

#userid {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fffdf8;
    border-radius: 8px;
    border: 2px solid  #745e35;
}

#Popcontent {
    display: none;
}

#Popup {
    position: absolute;
    top: 200px;
    width: 300px;
    height: 200px;
    background-color: #eeedeba9;
    
}

.commenT {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
    margin: 20px 0;
    font-size: 20px;
}
.commenT1 {
    
    display: flex;
    justify-content: space-around;

}

.commenT1 button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    /* border: 1px solid; */
}

#confirM {
    background-color: #3b9b63e3;
    color: aliceblue;
    border-color: #3ea86ae3;
}

#canceL {
    background-color: #ac2a2ae3;
    color: aliceblue;
    border-color: #b13030e3;
}
/* 
.isactive #detailswrapinside {
    display: none;
} */

.isactive #Popcontent {
    min-width: 1000px;
    height: calc(100vh - 80px);
 
    background-color: rgba(0,0,0,0.7);
    position: absolute;
   
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#footer {
    font-size: 14px;
}