


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="title">
        <ul id="mainul">
            <ul>
                <li>Home</li>
            </ul>
            <ul id="signul">
                <ul>  
                    <li><img src="<%= imgpath %>" alt=""></li>
                    <li><%= nick %></li>
                </ul>
            </ul>
        </ul>
    </div>
    <div>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <button>edit</button>
            <button>delete</button>
        </ul>
    </div>
</body>
</html>