


<link rel="stylesheet" href="../public/style.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="title">
    <ul id="mainul">
        <ul>
            <li><h2><a href="/" >Home</a></h2></li>

        </ul>
        <ul id="signul">
            <ul>
                <li ><a href="/login">log in</a></li>
                <li ><a href="/signup">sign up</a></li>
            </ul>
        </ul>
    </ul>
</div>