


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header') %>
    login page
    <form id="loginform">
        <label for="">id</label>
        <input type="text" name="uid" id="">
        <label for="">password</label>
        <input type="text" name="upw" id="">
        <button>login</button>
    </form>
</body>
<script>
    loginform.onsubmit = async (e) => {
        e.preventDefault();
        const {uid : {value : uidvalue}, upw : {value : upwvalue}} = e.target;
        const {data} = await axios.post('/login', {uid : uidvalue, upw : upwvalue});
        console.log(data)
        if(data.state === 200) {
            location.href = '/mypage';
        }
        else if(data.state === 401) {
            alert(data.message)
        }
        else if(data.state === 402) {
            alert('비밀번호를 확인해주세요')
        }
        else {
            alert('서버 에러')
        }
    }
</script>
</html>