<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <%- include('header') %>
    <form id="createForm">
        <label for="">제목</label>
        <input type="text" name="title" id="">
        <label for="">내용</label>
        <textarea name="content" id=""></textarea>
        <button>글 추가</button>
    </form>
</body>
<script>
    createForm.onsubmit = async (e) => {
        e.preventDefault();
        const {
            title : {value : titlevalue},
            content : {value : contentvalue}
        } = e.target;

        const {data} = await axios.post('/create', {titlevalue, contentvalue});
        // {state : 200, message : '글추가 완료'}
        console.log(data.error);
        if(data.state === 200) {
            location.href = '/view';
        }
        else {
            location.href = '/error';
        }
    }
   
</script>
</html>