
<link rel="stylesheet" href="../public/style.css">
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
<ul class="header">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/create">Create</a>
    </li>
    <li>
        <a href="/view">View</a>
    </li>
</ul>