

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>글 번호 : <%= index %></div>
    <div>제목 : <%= title %></div>
    <div>내용 : <%= content %></div>
    <button >삭제</button>
    <button onclick="gotoedit('<%= index %>')">수정</button>
</body>
<script>
    const gotoedit = (index) => {
        const Index = index - 1;
        location.href = `/edit?index=${Index}`;
    }
</script>
</html>