



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit?index=<%= index %>" method="post" id="form_input">
        <label for="">제목</label>
        <input type="text" name="edittitle">
        <label for="">내용</label>
        <input type="text" name="editdetails">
        <button>환료</button>
    </form>

</body>
</html>