


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>메인 페이지</div> <br>
        <a href="/signup">회원 가입</a> <br>
        <a href="/login">로그인</a> <br>
    </div>
    
</body>

</html>