


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="DetailsWrap">
        <div id="Titledetails">
            <ul class="titleUl">
                <li id="Home">MAEIL</li>
                <div id="searchBar">
                    <input type="text" id="searchsubject">
                    <span><i class="fa fa-search"></i></span>
                </div>
                <div class="EditUploadBtn">

                    <li id="Upload">upload</li>
                    <!-- <li id="Edit">edit</li> -->
                </div>
            </ul>
            
        </div>
    <div id="Popcontent">

    </div>
    <div id="detailswrap" class="detailswrap1">
        <div id="detailswrapinside">

            <ul id="detailswrapul">
                <li id="edittitlE">
                    <span id="uindeX"></span>
                    <div id="ediTdeletEbtn">
                        <button id="bacK">이전</button>
                        <button id="ediT">수정</button>
                        <button id="deletE">삭제</button>
                    </div>
                </li>
                <li class="UID">
                    <label for="">아이디 :  </label>
                    <span id="uiD"></span>
                </li>
                <li>
                    <label for="">날짜 :  </label>
                    <span id="datE"></span>
                </li>
                <li>
                    <label for="">제목 : </label>
                    <span id="subjecT"></span>
                </li>
                <li>
                    <label for="">내용 : </label> <br><br>
                    <div id="detailS"></div>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../public/details.js"></script>
</html>