<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="Wrap">
        <div id="Title">
            <ul class="titleUl">
                <li id="Home">HOME</li>
                <div id="searchBar">
                    <input type="text" id="searchsubject">
                    <span><i class="fa fa-search"></i></span>
                </div>
                <div class="EditUploadBtn">

                    <li id="Upload">upload</li>
                    <!-- <li id="Edit">edit</li> -->
                </div>
            </ul>
            
        </div>
        <div id="bodycontent">
            <div id="review">리뷰 게시판</div>
            <div id="titleheader">
                
                <ul>
                    <li>번호</li>
                    <li>이름</li>
                    <li>제목</li>
                    <li>내용</li>
                    <li>날짜</li>
                </ul>
            </div>
            <div id="contenT">
                
            </div>
            <div id="pagination"></div>
            <div>
                <footer>
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>

</body>
<script src="../public/main.js"></script>
</html>
