<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="wrap1">

    
        <div id="Title">
            <ul class="titleUl">
                <li id="Home">MAEIL</li>
                <div id="searchBar">
                    <input type="text" id="searchsubject">
                    <a href="" id="searchscroll">
                        <span><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <div class="EditUploadBtn">

                    <li id="Upload">upload</li>
                    <!-- <li id="Edit">edit</li> -->
                </div>
            </ul>
            
        </div>
        
        <div id="imgcontent">
            <ul id="imgul">
                
                <li><img src="../public/images/2394156.jpg" alt="" class="swiper"></li>
                <li><img src="../public/images/359978.jpg" alt="" class="swiper"></li>
                <li><img src="../public/images/427852.jpg" alt="" class="swiper"></li>
                <li><img src="../public/images/4t7bLC.webp" alt="" class="swiper"></li>
                <li><img src="../public/images/2394156.jpg" alt="" class="swiper"></li>
            </ul>
        </div>
        
        <div id="icon">

            <span ><img src="../public/icon/arrow.png" alt="" id="prev"></span> 
            <span ><img src="../public/icon/right.png" alt="" id="next"></span>
        </div>
        <div class="wraptoday">

            <div class="today">
                <li>오늘은 어떠셨어요? </li> <br>
                <li>잘 지내셨나요?</li>
            </div> 
        </div>
        
        <div id="scrollwrap">

            <div id="Wrap">
                <div id="bodywrap">

                    <div id="bodycontent">
                        <div id="review">
                            <li>매일 게시판</li>
                            <li>하루가 어떠셨어요?</li>
                            
                        </div>
                <div id="titleheader">
                    
                    <ul>
                        <li>번호</li>
                        <li>이름</li>
                        <li>제목</li>
                        <li>내용</li>
                        <li>날짜</li>
                    </ul>
                </div>
                <div id ="Maxcontent">
                    <div id="contenT">
                        
                    </div>
                </div>
                <div id="pagination"></div>
                <div>
                    <footer>
                        <ul id="footer">
                            <li>경일아카데미</li>
                            <li>개인정보관리책임자  서혁준</li>
                            <li>사업자번호  212-81-89247</li>
                            <li>통신판매허가번호  제2020-서울강동-1360호</li>
                        </ul>
                    </footer>
                </div>
                
            </div>
            
        </div>
    </div>
    
    </body>
    <script src="../public/main.js"></script>
    </html>
    