* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}


#layer_btn:checked ~ #wrap {
    display: none;
}

#layer_btn1:checked ~ #wrap {
    display: none;
}


#layer_btn, #layer_btn1, #layer_btn2 {
    display: none;
}

#layer_btn1:checked ~ #layer1 {
    display: flex;
}

#layer_btn:checked ~ #popup {
    display: flex;
}
#wrap {
    
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    
}

#wrap .gnb {
    width: 100%;
    height: 80px;
    background-color: rgb(219, 231, 236);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1 {
    cursor: pointer;
}
.layer_topics {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.layer_topics li {
    margin: 0 8px;
    user-select: none;
}
.layer_topics li:hover {
    font-weight: bold;
}


/* -----------------hamburger button ----------------- */
.gnb_button {
    width: 35px;
    height: 35px;
    background-color: rgb(219, 231, 236);
    position: relative;
    
}
.gnb_button span {
    position: absolute;
    top: 20%;
    width: 80%;
    height: 4px;
    left: 10%;
    background-color: rgb(0, 0, 0);
    
}


.gnb_button span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.gnb_button span:nth-child(3) {
    top: initial;
    bottom: 20%;
}

/* --------------------- X button -------------------------- */
 
.before_gnb input {
    display: none;
}



#ham_btn:checked ~ label .gnb_button span:nth-child(1){
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;

}
#ham_btn:checked ~ label .gnb_button span:nth-child(3){
    transform: translateY(50%) rotate(45deg);
    bottom: 50%;
}

#ham_btn:checked ~ label .gnb_button span:nth-child(2){
    display: none;
}

/* --------------------login-------------------- */
#popup {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content {
    width: 380px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;

}

.layer_header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}
.layer_header > div {
    width: 22px;
    height: 22px;
}
.layer_header span  {
    top: 15px;
    left: 70px;
    width: 22px;
    height: 22px;
    position: absolute;
}
.layer_input {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
}

.layer_input span{
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;  
}
.layer_input span input {
    width: 100%;
    height: 30px;
    border: 0;
    margin: 10px 0;
    background-color: rgb(214, 212, 212);
    outline: none;
    font-size: 14px;
}
.layer_header span label::after,
.layer_header span label::before {
    content: "";
    height: 3px;
    width: 22px;
    display: block;
    background-color: black;
    position: absolute;
    
    left: 70px;
    
    transform: translateY(-50%) rotate(45deg);
}
.layer_header span label::before {
    transform: translateY(-50%) rotate(-45deg);
}
button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: 0;
    box-sizing: border-box;
    background-color:  rgb(92, 190, 255);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    outline: none;
}
.layer_input button:hover {
    background-color: rgb(47, 149, 218);
}
.content > span {
    margin-top: 25px;
    font-size: 12px;
    font-weight: 700;
    box-sizing: border-box;
}
/* -------------------------sign up page------------------ */

.line span:nth-child(1) {
    width: 70px;
    height: 1px;
    background-color: rgb(161, 161, 161);
}
.line span:nth-child(3) {
    width: 70px;
    height: 1px;
    background-color: rgb(161, 161, 161);
}
.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login1 label, .signup1 label {
    color: rgb(47, 149, 218);
    font-weight: bold;
    
}
.login1, .signup1 {
    font-weight: bold;
   
}
/* -------------------------layer 1---------------- ---------------*/

#layer1 {
    height: 100vh;
    width: 100%;
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}
.content1 {
    width: 380px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border: 1px solid rgb(214, 211, 211);
}

.layer_header1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
.layer_header1 span {
    margin-top: 10px;
 }
.content1 form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.layer_input1 {
    width: 250px;
}
.layer_input1 button:hover {
    background-color: rgb(47, 149, 218);
}
.layer_input1 span {
    margin: 12px 0;
}
.layer_input1 span input {
   
    width: 100%;
    height: 30px;
    border: 0;
    background-color: rgb(214, 212, 212);
    outline: none;
    font-size: 14px;
}
.content1 button{
    margin: 10px 0;
    padding: 3.5px;
    background-color:  rgb(92, 190, 255);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border-radius: 1px ;
    border: 1px black; 
}
.content1 span {
    font-size: 12px;
}
.p1 {
    margin: 20px 0 0 0;
}
.login span label{
    font-weight: 600;
    padding: 5px;
    margin: 0 6px;
    user-select: none;
    border: 1px solid rgb(122, 132, 143);
    background-color: rgb(238, 247, 255);
    
}
.login span label:hover {
    background-color: rgb(180, 180, 180);
}
.login span label:hover {
    font-weight: bolder;
}

/* ----------------------layer_body--------------------------- */

.layer_body {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    
}
.layer_body1 img{
    width: 100%;
    height: 553.500px;
    display: block;
    
}
.img_logo {
    width: 4.065vw;
    height: 6.016vw;
    position: absolute;
    bottom: 3.252vw;
    left: 8.13vw;
    border-radius: 13.008vw;
    overflow: hidden;
}
/* .img_logo {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 80px;
    overflow: hidden;
} */

.image_header {
    position: absolute;
    top: 1.626vw;
    width: 100%;
    height: 12.195vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.image_header h3{
    margin-bottom: 1.626vw;
    font-size: 1.951vw;
}


.image_header p {
    font-size: 1.138vw;
}

.num1 {
    display: flex;
    position: absolute;
    top: 16.26vw;
    left: 40.65vw;
    font-size: 2.276vw;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    justify-content: space-between;
    align-items: center;
}
/* .num1 {
    display: flex;
    position: absolute;
    top: 100px;
    left: 300px;
} */

.num1 > span:nth-child(1) {
    margin: 0 1.626vw;
    color: rgb(66, 65, 65);
}
.num1 span:nth-child(1) span {
    font-size: 1.301vw;
   
}
.num1 > span:nth-child(2) {
    height: 7.317vw;
    width: 0.163vw;
    background-color: rgb(114, 114, 114);
}
.num1 > span:nth-child(3) {
    margin: 0 1.626vw;
    color: rgb(66, 65, 65);
}
.num1 span:nth-child(3) span {
    font-size: 1.301vw;
}


@media only screen and (min-width : 768px){
    #wrap {
        width: 100%;
        min-height: 100vh;
        background-color: rgb(255, 255, 255);
    }
}