


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
    <div> 비행기 예약</div>
    <select name="" id="selectBox">
        <option value="a">A 비행기</option>
        <option value="b">B 비행기</option>
        <option value="c">C 비행기</option>
    </select>
    <div id="content">
      
    </div>

</body>
<script src="/public/js/index.js"></script>
</html>