

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
</head>
<body>
    signup page
    <form action="" id="signupform">
        <label for="">name</label>
        <input type="text" name="name">
        <label for="">nick</label>
        <input type="text" name="nick">
        <button>signup</button>
    </form>
</body>
<script>
    signupform.onsubmit = async (e) => {
        e.preventDefault();
        const {name : {value : namevalue}, nick : {value : nickvalue}} = e.target;
        const {data} = await axios.post('/user/signup', {name : namevalue, nick : nickvalue} )
        if(data.state === 200) {
            location.href = '/user/login';
        }
        else {
            alert('등록할수 없습니다.')
        }
    }
</script>
</html>