


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    main page
    <form action="./login" method="post"> <br>
        <!-- <label for="">name : </label> <br>
        <input type="text" name="uname" id=""> <br> -->
        <label for="">user id :</label> <br>
        <input type="text" name="uid" id=""> <br>
        <label for="">password : </label> <br>
        <input type="text" name="upw"> <br>
        <button type="button"><a href="./signup" style="text-decoration: none; color: black;">signup</a></button>
        <button>submit</button>
    </form>
</body>
<script>
    
</script>
</html>